<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <!--Spring和mybaits的配置文件 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring-dao.xml,classpath:spring-redis.xml,classpath:ActiveMQ.xml,classpath:spring-httpclient.xml</param-value>
  </context-param>
  <!-- 编码过滤器-->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <async-supported>true</async-supported>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>corsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <!--对所有符合条件的资源生效-->
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <!--允许GET、POST请求-->
      <param-value>GET,POST</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <!--配置所有请求header中需要添加的信息，超出该范围，会被阻止访问-->
      <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,token,userCode</param-value>
    </init-param>
    <init-param>
      <param-name>cors.support.credentials</param-name>
      <!--不允许使用cookie-->
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>cors.support.maxage</param-name>
      <!--一次握手信息后，2700ms内不用再次认证-->
      <param-value>2700</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>corsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!--Spring监听器 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 防止Spring 内存溢出监听器 -->
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  
  <!-- Spring MVC servlet -->
  <servlet>
    <servlet-name>SpringMVC</servlet-name>
    <servlet-class>com.hjc.spring.MyDispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>SpringMVC</servlet-name>
    <!-- 此处可以可以配置成*.do，对应struts的后缀习惯 -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpringMVC</servlet-name>
    <!-- 此处可以可以配置成*.do，对应struts的后缀习惯 -->
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>

  <!--配置随应用启动初始化数据 -->
  <!--<servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.hjc.common.precondition.InitWebServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>-->
  <!--<welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>-->
</web-app>
